#ignored files and folders
/.idea
/__pycache__
/new_images
/images
/config
/log
/instagram_api_venv
yerkin_akhmetzhanov.checkpoint
yerkin_akhmetzhanov_uuid_and_cookie.json
blacklist.txt
followed.txt
friends.txt
skipped.txt
unfollowed.txt
whitelist.txt
comments.txt