#ignored files and folders
/.idea
/__pycach__
/new_images
/images
/config
/log
yerkin_akhmetzhanov.checkpoint
yerkin_akhmetzhanov_uuid_and_cookie.json
comments.txt
blacklist.txt
followed.txt
friends.txt
skipped.txt
unfollowed.txt
whitelist.txt
